.image-gallery-thumbnails-container {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap; 
    width: 100% !important; 
  }
  .image-gallery-thumbnails-wrapper {
    display: inline-flex !important;
    overflow-x: auto !important;
  }
  
  .image-gallery-thumbnail {
    display: inline-block !important;
    overflow-x: auto !important;
    width: 500px;
  }

  .image-gallery-thumbnails .image-gallery-thumbnail {
    width: 80px;      /* set the width you want */
    height: 80px;     /* optional: keep square */
  }
  
  .image-gallery-thumbnail img {
    object-fit: cover;
  }
  